<html>
    <head>
        <style>
            div{
                background-color: aqua;
            }
        </style>
    </head>
    <body>
<h1>There are {{c}} words in your text:</h1>
<div><pre>{{fulltext}}</pre></div>

<!--<br/>
<h2>WordCount:</h2>
<p>a:using wordcountdict</p>
{{wordcountdict}}
<br/>
{% for i in wordcountdict %}
{{i}}
<br/>
{% endfor %}
<p>b:using wordcountdict.items()</p>
{% for i,j in wcd1 %}
<p>{{i}}-{{j}}</p>
{% endfor %}
<hr>-->
{% for i,j in swcd %}
<p>{{i}}-{{j}}</p>
{% endfor %}
<!--
<p>c:swcd</p>
{{swcd}}-->
<a href="{% url 'wordcount' %}">start again</a>
<p>want to give us <a href="{% url 'fdbk' %}">feedback?</a></p>
</body>
</html>